<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accounting WebApp{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="bg-light text-dark" style="font-family: 'Roboto', sans-serif;">


    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="toast align-items-center text-white bg-{{ 'success' if category == 'success' else 'danger' }} border-0 show"
            role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl, { delay: 100000 }).show()
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container">
            <a class="navbar-brand text-dark fw-bold" href="{{ url_for('home_page.home') }}">Accounting WebApp</a>
            {% if session.get('logged_in') %}
            <div class="d-flex">
                <a href="{{ url_for('login_page.logout') }}" class="btn btn-outline-secondary">Logout</a>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="container my-5">
        {% block content %}{% endblock %}
    </div>

</body>

</html>